.container {
    position: absolute;
    min-width: 400px;
    width: 100vw;
    height: 60px;
    padding: 0;
    margin: 0%;
    background-color: #BCEFDD;
}

.deakico {
    position: absolute;
    min-width: 180px;
    left: 14px;
    display: flex;
}

.deakico Image {
    width: max-content;
    align-items: center;
    }

.deakico div {
    height: 60px;
    width: max-content;
    align-items: center;
    top: 7%;
    
    font-family: 'Abyssinica SIL';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    text-align: center;
    letter-spacing: -0.015em;
}